---
import MemberSignUp from "../../components/MemberSignUp.astro";
import Layout from "../../layouts/Layout.astro";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.member.addMember);

if (result && !result.error) {
  Astro.cookies.set("_email", result.data[0].email, {
    maxAge: 3600,
    path: "/",
  });
  return Astro.redirect("/sign-up/update");
} 

const actionError = result?.error?.status === 500;
if (actionError){
  return Astro.redirect('/500');
}
---

<Layout>
  <main>
    <div id="hero">
      <h1>
        Join us to build an evocative space for play, wonder, joy and community
      </h1>
      <p>
        We read children's books, <em>in-person</em> as well as <em>online</em>, to all ages from
        a <em>psycho-socio-emotional</em> lens
      </p>
      <div id="social-media">
        <a href="https://www.instagram.com/childrensbookforall/"><img src="https://ik.imagekit.io/ty6gikkxo/instagram.svg?updatedAt=1737934951830" alt="Instagram Link"></a>
        <a href="mailto:childrensbookforall@gmail.com"><img width=45 src="https://ik.imagekit.io/ty6gikkxo/mail.svg?updatedAt=1737934952236" alt="Mail Link"></a>
        <a href="https://api.whatsapp.com/send?phone=919599944099"><img width=38 src="https://ik.imagekit.io/ty6gikkxo/whatsapp.svg?updatedAt=1737934951879" alt="Whatsapp Link"></a>
      </div>
    </div>
    <div>
      <!-- {actionError && <span style="margin-top: -1rem" class="error">Your email id is already registered for CBA updates</span>} -->
      <MemberSignUp />
    </div>
    
  </main>
</Layout>

<style>
  main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    padding-top: 0;
  }
  em{
    text-decoration: none;
    font-style: normal;
    color: #344CB7;
    font-weight: 600;
  }
  #hero{
    max-width: 575px;
  }
  #hero p{
    font-size: 1.4rem;
  }
  #social-media{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    /* border: 1px solid black */
  }
  .error{
        color: red;
        display: block;
        text-align: left;
        margin-bottom: 1rem;
    }
</style>