---
import MemberSignUp from "../../components/MemberSignUp.astro";
import Layout from "../../layouts/Layout.astro";
import UpcomingReadings from "../../components/UpcomingReadings.astro";
import { actions } from "astro:actions";
import Gallery from "../../components/Gallery.astro";
import { Icon } from "astro-icon/components";

const result = Astro.getActionResult(actions.member.addMember);

if (result && !result.error) {
  Astro.cookies.set("_email", result.data[0].email, {
    maxAge: 3600,
    path: "/",
  });
  return Astro.redirect("/sign-up/update");
} 

const actionError = result?.error?.status === 500;
if (actionError){
  return Astro.redirect('/500');
}
---

<Layout>
  <main class="sign-up">
    <div id="hero">
      <h1>
        Join us to build a holding, loving and nurturing community
      </h1>
      <p>
        We read children's books, <em>in-person</em> as well as <em>online</em>, with all ages from
        a <em class="dashed">psycho-socio-emotional</em> lens
        <dialog id="definition">
          <div id="container">
            <div id="close">
              <Icon name="ic:baseline-close" color="black" size={30}/>
            </div>
            <h3>psycho-socio-emotional</h3>
            <hr>
            <p>Individual well being is dependent on psychological (mental processes), sociological (in relation to others in the society) and emotional (recognising and managing feelings) health. We do children's book readings to bring out all these three aspects.</p>
          </div>
        </dialog>
      </p>
      
      <div id="social-media">
        <a href="https://www.instagram.com/childrensbookforall/"><img src="https://ik.imagekit.io/ty6gikkxo/instagram.svg?updatedAt=1737934951830" alt="Instagram Link"></a>
        <a href="mailto:childrensbookforall@gmail.com"><img width=45 src="https://ik.imagekit.io/ty6gikkxo/mail.svg?updatedAt=1737934952236" alt="Mail Link"></a>
        <a href="https://api.whatsapp.com/send?phone=919599944099"><img width=38 src="https://ik.imagekit.io/ty6gikkxo/whatsapp.svg?updatedAt=1737934951879" alt="Whatsapp Link"></a>
        <a href="https://www.reddit.com/r/childrensbookforall/"><img width=38 src="/reddit2.png" alt="reddit link"></a>
      </div>
    </div>
    <div>
      <!-- {actionError && <span style="margin-top: -1rem" class="error">Your email id is already registered for CBA updates</span>} -->
      <MemberSignUp />
    </div>
  </main>
  <UpcomingReadings/>
  <Gallery/>
</Layout>
<script>
  const dialog = document.querySelector('dialog');
  const dashed = document.querySelector('.dashed');
  const closeBtn = document.querySelector('#close');
  dashed?.addEventListener('click', ()=>{
    dialog?.showModal();
  })
  closeBtn?.addEventListener('click', ()=>{
    dialog?.close();
  })
</script>
<style>
  body{
    width: 100%;
  }
  .sign-up{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 0;
    width: 100%;
    margin: auto;
  }
  h1{
    text-wrap: balance;
  }
  em{
    text-decoration: none;
    font-style: normal;
    color: #344CB7;
    font-weight: 600;
  }
  #hero{
    max-width: 575px;
  }
  #hero p{
    font-size: 1.4rem;
  }
  #social-media{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    /* border: 1px solid black */
  }
  .error{
        color: red;
        display: block;
        text-align: left;
        margin-bottom: 1rem;
    }
  .dashed{
    text-decoration: underline dashed;
    text-underline-offset: 0.5rem;
    cursor: help;
  }
  dialog{
    padding: 1.5rem;
    margin: auto;
  }
  dialog hr{
    margin: 0;
  }
  dialog h3{
    font-size: 1.5rem;
  }
  dialog p{
    font-size: 1rem !important;
  }
  dialog div{
    float: right;
  }
  #close:hover{
    background-color: lightgray;
    padding-bottom: 0;
  }
</style>