---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

---

<Layout>
    <section>
        <aside>
            <h2>Thank you 🌻</h2>
            <p>We will connect with you soon! <br>
               Meanwhile, you can always check out and attend our upcoming readings.
            </p>
            <a href="/#upcoming-readings"><b id="button">Upcoming Readings</b></a>
        </aside>
    </section>
    <section>
        <a href="/support-group" data-astro-reload>Back Home</a>
    </section>
    
</Layout>
<style>
    h2{
        text-align: center;
    }
    .container{
        width: 300px;
        margin: auto;
    }

    .container p{

    }
    a{
        display: flex;
        justify-content: center;
    }
    #button{
        padding: 0.5rem 1rem;
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
    }
    
</style>
