---
import Nav from "../components/Nav.astro";
import { Icon } from "astro-icon/components";
import '../styles/mvp.css'
import Layout from "../layouts/Layout.astro"
---

<Layout>
        <section>
            <aside>
                <h2>
                    <Icon name="ic:baseline-error" color="red" size={30}/>
                    <span>404</span>
                </h2>
                <p>Something went wrong</p>
            </aside>
        </section>
        <section>
            <a href="/" data-astro-reload>Back Home</a>
        </section>
</Layout>
<style>
    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    p{
        text-align: center;
        font-size: 1.25rem;
    }
</style>

