---
import Nav from "../components/Nav.astro";
import '../styles/mvp.css'
---
<header>
    <Nav/>
    <section>
        <aside>
            <h2>404</h2>
            <h2>Something went wrong</h2>
        </aside>
    </section>
</header>

