---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const calendar = Astro.cookies.get("_calendar")?.value;

if(!calendar){
    console.log(calendar);
    return Astro.redirect('/404');
}

const calendar_link = calendar.toString();

---

<Layout>
    <section>
        <aside>
            <h2>Thank you 🌻</h2>
            <p>We hope to see you soon! <br>
                You can save the reading event to your calendar by clicking on the link below.
            </p>
            <a 
            target="_blank"
            href={calendar_link}>
                <b>  
                    <Icon name="fluent-color:calendar-16" size={20} is:inline />
                    Add to Calendar</b>
            </a>
        </aside>
    </section>
    <section>
        <a href="/" data-astro-reload>Back Home</a>
    </section>
    
</Layout>
<style>
    h2{
        text-align: center;
    }
    .container{
        width: 300px;
        margin: auto;
    }

    .container p{

    }
    a{
        display: flex;
        justify-content: center;
    }
    a>b{
        padding: 0.5rem 1rem;
    }
    
</style>
