---
---
<div>
    <form action="">
        <label id="q">I would like to send a Children's book to:</label>
        <input type="radio" name="choice" id="loved" value="loved">
        <label for="loved">A Loved One</label><br>
        <input type="radio" name="choice" id="self" value="self">
        <label for="self">Myself</label><br>
        <input type="radio" name="choice" id="cba" value="cba">
        <label for="cba">
            <span class="wrappable"><em>Children's Book for All</em> project</span>
        </label><br>
        <input type="submit" value="Next">
    </form>
</div>
    

<style>
    div{
        margin: auto 1rem;
        margin-bottom: 2rem;
    }
    form{
        max-width: 640px;
        margin: auto;
    }
    #q{
        font-size: 1.25rem;
        margin-bottom: 1rem;
        /* font-weight: 600; */
    }
    label{
        font-size: 1.1rem;
        /* white-space: nowrap; */
    }
    .wrappable {
    white-space:normal;
    }
</style>