---
import { actions, isInputError, isActionError } from "astro:actions";

const result = Astro.getActionResult(actions.gift.chooseTheme);
const inputErrors = isInputError(result?.error) ? result?.error.fields : {};
const actionError = isActionError(result?.error);
---

{
    actionError && (
        <span id="error">Something went wrong. Please try again later.</span>
    )
}
<form method="POST" action={actions.gift.chooseTheme}>
    <label for="theme">Choose a theme on which you want the gift to?</label>
    <label>
        <input type="checkbox" name="surpriseTheme" id="surpriseTheme">
        <span>Surprise Me!</span>
    </label>
    
    <textarea transition:persist name="theme" id="theme"></textarea>
    {
        inputErrors.theme && (
            <span id="error">
                Please write the theme on which you want the gift to be
            </span>
        )
    }
    <label for="budget">Choose your budget</label>
    <input type="number" name="budget" id="budget" />
    {inputErrors.budget && <span id="error">Correctly write the budget</span>}
    <input type="submit" id="submit" value="Next" />

    <style>
        form {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            margin: auto;
            padding: 0rem 1.5rem 1.5rem 2rem;
            gap: 0.5rem;
        }
        #error {
            color: red;
            display: block;
            text-align: center;
        }
    </style>
</form>
