---
const {name, profile_image, profile_link} = Astro.props;
---
<a  target="_blank"
    href={profile_link}>
    <span>
        <img width=30 src={profile_image} alt="Profile image of the facilitator">
        <span>{name}</span>
    </span>
</a>
<style>
    a{
        text-decoration: none;
        border: 1px solid slategray;
        background-color: #f2f2f2;
        border-radius: 2rem;
        color: black;
        margin-bottom: 0.5rem;
    }
    
    span{
        display: flex;
        /* gap: 0.25rem; */
        padding: 0.2rem 0.5rem;
    }
    img{
        border-radius: 50%;
    }
</style>