---

---

<hr />
<section>
    <header>
        <h2>Gallery</h2>
        <p>Photo Gallery</p>
    </header>
    <div class="container">
        <div class="gallery">
            <img src="https://ik.imagekit.io/ty6gikkxo/1.jpeg" alt="CBA at Lodhi Garden, Delhi" width="600" height="400" />
            <div class="desc">Reading 'The Invisible String'  <em>Lodhi Garden, Delhi</em>
            </div>
        </div>
        <div class="gallery">
            <img src="https://ik.imagekit.io/ty6gikkxo/2.jpeg" alt="CBA at Studio Samprapti" width="600" height="400" />
            <div class="desc">Reading 'Nilofer ki Muskaan' <em>Studio Sampraapti</em></div>
        </div>
        <div class="gallery">
            <img src="https://ik.imagekit.io/ty6gikkxo/5.jpeg" alt="CBA with Dharamshala Animal Rescue" width="600" height="400" />
            <div class="desc">Reading '100 Dogs' to raise funds for Dharamshala Animal Rescue <em>Himachal Pradesh</em></div>
        </div>
        <div class="gallery">
            <img src="https://ik.imagekit.io/ty6gikkxo/4.jpeg" alt="CBA at Lamakaan Hyderabad" width="600" height="400" />
            <div class="desc">Reading 'The Suitcase' <em>Lamakaan, Hyderabad</em></div>
        </div>
    </div>
    <a href="https://www.instagram.com/childrensbookforall/" target="_blank">See More</a>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
        margin-bottom: 3rem;
    }
    section div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    hr {
        width: 80%;
        margin: 2.5rem auto 1rem auto;

        padding: 0;
        border-color: lightgray;
        border-top: 1px solid lightgray;
        background-color: lightgray;
        border-radius: 5px;
        max-width: 900px;
    }
    header {
        padding-bottom: 1.25rem;
    }
    header h2 {
        font-size: 1.75rem;
        margin-bottom: 0.25rem;
    }
    header p {
        font-size: 1.4rem;
        margin-top: 0;
    }
    .container{
        display: flex;
    }
    div.gallery {
        margin: 1rem;
        border: 1px solid #ccc;
        float: left;
        width: 240px;
        border-radius: 1rem;
    }

    div.gallery img {
        width: 100%;
        height: auto;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>
