---
import { Icon } from "astro-icon/components"
---
<div>
    <Icon name="ic:baseline-card-giftcard" size={75}/>
</div>

<style>
    div{
        position: sticky;
        top: 0;
        float: right;
        border: 1px solid red;
    }
</style>