---
import { actions, isInputError, isActionError } from "astro:actions";
import "../styles/international-telephone-input.css";

const result = Astro.getActionResult(actions.gift.giftToLovedOne);
const inputErrors = isInputError(result?.error) ? result?.error.fields : {};
// const actionError = isActionError(result?.error);
---

<div id="container">
    <form method="POST" action={actions.gift.giftToLovedOne}>
        <h1>Send Gift To A Loved One</h1>
        <fieldset>
            <legend>Choose Theme and Budget</legend>
            <label for="theme"
                >Choose a theme for the <em>Children's Book</em></label
            >
            <p class="helper-label">
                Tell us about the person you are sending the gift to, your relationship with them, the life situation and emotions which they are dealing with.
            </p>
            <textarea rows="6" transition:persist name="theme" id="theme"
            ></textarea>
            {
                inputErrors.theme && (
                    <span id="error">
                        Please check the text you have entered
                    </span>
                )
            }
            <label for="budget">Choose your budget for the book</label>
            <input
                transition:persist
                required
                type="range"
                name="budget"
                id="budget"
                min="500"
                max="2000"
                value="500"
                step="50"
            />
            <p id="budget-text">₹ <span id="budget-value"></span></p>
            {
                inputErrors.budget && (
                    <span id="error">Please check your budget again</span>
                )
            }
            <em>We attempt to use at least 80% or more of the amount for ordering book/s + packaging and posting. Any leftover amount will be used to add more books to our Children's Book For All library project in Dharamshala, Himachal Pradesh</em>
        </fieldset>

        <fieldset>
            <legend>Receiver's Details</legend>
            <label for="name">Receiver's Name</label>
            <input
                transition:persist
                required
                type="text"
                name="receiverName"
                id="receiverName"
            />
            {
                inputErrors.receiverName && (
                    <span style="margin-top: -1rem" class="error">
                        Please check the name again
                    </span>
                )
            }

            <label for="phone">Receiver's Phone</label>
            <div transition:persist class="iti">
                <input
                    transition:persist
                    required
                    type="tel"
                    name="receiverPhone"
                    id="receiverPhone"
                />
            </div>
            {
                inputErrors.receiverPhone && (
                    <span id="error">Please check the phone number again</span>
                )
            }
            <label for="address">Receiver's Complete Address</label>
            <p class="helper-label">Please add their pincode as well</p>
            <textarea rows="5" transition:persist name="receiverAddress" id="receiverAddress"
            ></textarea>
            {
                inputErrors.receiverAddress && (
                    <span id="error">
                        Please check the address you have entered
                    </span>
                )
            }
        </fieldset>

        <fieldset>
            <legend>Your Details</legend>
            <label for="name">Your Name</label>
            <input
                transition:persist
                required
                type="text"
                name="senderName"
                id="senderName"
            />
            {
                inputErrors.senderName && (
                    <span style="margin-top: -1rem" class="error">
                        Please check your name again
                    </span>
                )
            }
            <label for="email">Your Email</label>
            <input
                transition:persist
                required
                type="email"
                name="senderEmail"
                id="senderEmail"
            />
            {
                inputErrors.senderEmail && (
                    <span style="margin-top: -1rem" class="error">
                        Please check your email again
                    </span>
                )
            }
            <label for="phone">Your Phone</label>
            <div transition:persist class="iti">
                <input
                    transition:persist
                    required
                    type="tel"
                    name="senderPhone"
                    id="senderPhone"
                />
            </div>
            {
                inputErrors.senderPhone && (
                    <span id="error">Please check your phone number again</span>
                )
            }
        </fieldset>

        <label for="message">Add a message for your loved one</label>
        <textarea rows="4" transition:persist name="message" id="message"
        ></textarea>
        {
            inputErrors.message && (
                <span id="error">Please check the text you have entered</span>
            )
        }
        <input type="submit" id="submit" value="Gift the book" />
    </form>
</div>
<script src="../scripts/international-telephone-input.js"></script>
<script>
    // Update budget value
    const slider = document.querySelector("#budget") as HTMLInputElement;
    const value = document.querySelector("#budget-value");
    if(value){
        value.textContent = slider.value;
    }
    
    slider?.addEventListener('input', ()=>{
        if(value)
            value.textContent = slider.value;
    })
</script>
<style>
    #container {
        margin: 0 0.5rem;
        margin-bottom: 1rem;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0rem 1.5rem 1.5rem 2rem;
        gap: 0.5rem;
        max-width: 600px;
        background-color: transparent;
        border: none

    }
    h1 {
        text-align: center;
        margin-bottom: 1rem;
    }
    fieldset {
        /* margin: 1.2rem 0rem; */
        padding: 1rem 1.2rem;
        border-color: oklch(95.57% 0.003 286.35);
        border-radius: 0.85rem;
        background-color: white;
        margin-bottom: 1rem;
    }
    input {
        width: 80%;
        margin-bottom: 1.5rem;
    }
    textarea {
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }
    input[type="range"] {
        max-width: 240px;
    }
    legend {
        font-weight: 600;
        /* margin-left: 50%; */
    }
    #budget-text {
        margin-top: -1rem;
    }
    #message{
        margin-top: -0.5rem;
    }
    .alert {
        color: red;
        display: none;
        margin-top: -1rem;
        /* margin: 0; */
    }
    .helper-label {
        margin-top: -0.5rem;
        margin-bottom: 0.25rem;
        font-size: 0.9rem;
        color: oklch(35.02% 0.005 236.66);
    }
    #error {
        color: red;
        display: block;
        text-align: left;
    }
    .iti {
        position: relative;
        display: inline-block;
        /* margin-bottom: 1.5rem; */
    }
    
    label[for="address"]{
        margin-top: 1.5rem;
    }

    #receiverPhone, #senderPhone {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 52px;
        padding-right: 6px;
    }
    #contribution-label {
        margin-top: 1rem;
    }
    label {
        font-weight: 500;
        margin-bottom: 0.4rem;
    }
    #submit {
        align-self: center;
        margin-bottom: 0rem;
    }
</style>
