---
import { actions, isInputError, isActionError } from "astro:actions";

const result = Astro.getActionResult(actions.member.addMember);
const inputErrors = isInputError(result?.error)? result?.error.fields:{};
const actionError = isActionError(result?.error);
---
{actionError && <span id="error">Your email id is already registered for CBA updates</span>}
<form method="POST" action={actions.member.addMember}>
    <h1>Sign Up for updates</h1>
    <label for="name">Name</label>
    <input transition:persist required type="text" name="name" id="name" />
    {inputErrors.name && <span id="error">Please check your name again</span>}
    <label for="email">Email</label>
    <input transition:persist required type="email" name="email" id="email" />
    {inputErrors.email && <span id="error">Please check your email again</span>}
    <label for="phone">Phone</label>
    <input transition:persist required type="tel" name="phone" id="phone" />
    {inputErrors.phone && <span id="error">Please check your phone number again</span>}
    <input type="submit" id="submit" value="Sign up for updates" />
</form>
<style>
    form {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: auto;
        padding: 0rem 1.5rem 1.5rem 2rem;
        gap: 0.5rem;
    }
    #error{
        color: red;
        display: block;
        text-align: center;
    }
</style>
