---
import Logo from "./Logo.astro";
import NavBar from "./NavBar.astro";

---
<header>
    <nav>
        <a href="/" data-astro-reload><Logo/></a>
        <NavBar/>
    </nav>
</header>
<style>
    header{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    nav a{
        text-decoration: none;
        color: black;
        /* padding: 0.5rem 0.75rem; */
    }
    nav{
        margin-bottom: 1rem;
    }
    
    
</style>
