---
const pathname = new URL(Astro.request.url).pathname;
const currentpath = pathname.split("/")[1];
import { Icon } from "astro-icon/components";
---
<div class="navigation">
    <ul>
        <li>
            <a class={currentpath == "sign-up" ? "active" : ""} id="home" href="/">
                Home
            </a>
        </li>
        <li>
            <a class={currentpath == "our-stories" ? "active" : ""} id="our-stories" href="/our-stories">
                Our Stories
            </a>
        </li>
        <li><a class={currentpath == "past-readings" ? "active" : ""} id="past-readings" href="/past-readings">Past Readings</a></li>
        <li><a class={currentpath == "gift" ? "active" : ""} id="gift" href="/gift">Gift a Children's Book</a></li>
    </ul>
</div>


<style>
    .navigation{
        width: 100%;
        position: absolute;
    }
    .active{
        /* background-color: #344CB7; */
        /* padding: 0.5rem 1rem; */
        border-radius: 2rem;
        text-decoration: underline !important;
        color: #293c92 !important;
        font-weight: 700 !important;
        /* color: white !important; */
    }
    li a{
        color: black;
        text-decoration: none;
    }
    li a:hover{
        text-decoration: underline !important;
    }
</style>