---
import { actions, isInputError, isActionError } from "astro:actions";

const result = Astro.getActionResult(actions.member.updateMember);
const inputErrors = isInputError(result?.error)? result?.error.fields:{};
const actionError = isActionError(result?.error);

const email = Astro.cookies.get("_email")?.value;
---
{actionError && <span id="error">Something went wrong. Please try again later.</span>}
<form method="POST" action={actions.member.updateMember}>
    <h1>Sign Up for updates</h1>
    <label for="place">Place?</label>
    <input transition:persist type="text" name="place" id="place" />
    {inputErrors.place && <span id="error">Please type your input</span>}
    <label for="connection">How did you get to know about CBA?</label>
    <textarea transition:persist name="connection" id="connection"></textarea>
    {inputErrors.connection && <span id="error">Check your input</span>}
    <label for="about">Tell us about you</label>
    <textarea transition:persist name="about" id="about"></textarea>
    {inputErrors.about && <span id="error">Check your input</span>}
    <label for="message">Tell us about you</label>
    <textarea transition:persist name="message" id="message"></textarea>
    {inputErrors.message && <span id="error">Check your input</span>}
    <input type="hidden" name="email" value={email}>
    <input type="submit" id="submit" value="Sign up for updates" />
</form>
<style>
    form {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: auto;
        padding: 0rem 1.5rem 1.5rem 2rem;
        gap: 0.5rem;
    }
    #error{
        color: red;
        display: block;
        text-align: center;
    }
</style>
