---
import { Icon } from "astro-icon/components";
// import '../styles/mvp.css'
import Layout from "../../layouts/Layout.astro"
---

<Layout>
        <section>
            <aside>
                <h2>
                    <Icon name="ic:baseline-history-edu" color="red" size={30}/>
                    <span>In the making</span>
                </h2>
                <p>This origin story is still in the making.</p>
            </aside>
        </section>
        <section>
            <a href="/our-stories" data-astro-reload>Back</a>
        </section>
</Layout>
<style>
    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    p{
        text-align: center;
        font-size: 1.25rem;
    }
</style>

